* {
    margin: 0;
    padding: 0;
}

body {
    justify-content: center;
    display: flex;
    font-family: 'Raleway', sans-serif;
}

.parent {
    margin-top: 100px;
    background-color: #000;
    color: #F5F5F5;
    width: 450px;
    height: 600px;
    border-radius: 10px;
}

.name {
    height: 25%;
    background-color: #445a6f;
    text-align: center;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendar {
    background-color: rgb(53, 53, 74);
    height: 20%;
    width: 100%;
    display: flex;
    text-transform: capitalize;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}

.name h1 {
    font-size: 30px;
    text-transform: uppercase;
}

#days {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Create 7 equal columns */
    gap: 10px; /* Add spacing between cells */
    margin-top: 15px;
    padding: 10px;
}

#days div {
    font-size: 14px;
    width: 100%; 
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #35457b; 
    border-radius: 5px; 
    color: #F5F5F5; 
}
#days .current {
    background-color: rgb(207, 17, 49);
    font-weight: bold;
}